body {
    background-color: #336f73;
}
img {
    -webkit-user-drag: none;
    user-select: none;
}
.desktop {
    margin-inline: auto;
    display: flex;
    aspect-ratio: 4 / 3;
    max-height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.desk {
    position: absolute;
    margin: auto;
    height: 90%;
    width: 90%;
    z-index: -1;
}
.mac {
    transition: 0.2s;
    position: absolute;
    height: 37%;
    top: 23.1%;
    right: 25%;
}
.book {
    transition: 0.2s;
    position: absolute;
    height: 2.5%;
    top: 57.5%;
    right: 12%;
}
.photos {
    transition: 0.3s;
    position: absolute;
    height: 14%;
    top: 32%;
    right: 12%;
}
.games {
    transition: 0.2s;
    position: absolute;
    height: 12%;
    top: 48.1%;
    left: 30%;
}
.bsky {
    transition: 0.3s;
    position: absolute;
    height: 12%;
    top: 25%;
    left: 28%;
}
.mac:hover {
    transition: 0.3s;
    z-index: 5;
    transform: translateY(-10%) scale(1.05);
    content: url("vectors/iMac-github.svg");
}
.games:hover {
    transition: 0.3s;
    z-index: 5;
    transform: translateY(-10%) scale(1.05);
}
.book:hover {
    transition: 0.3s;
    z-index: 5;
    transform: translateY(-50%) scale(1.05) rotate(-5deg);
}
.photos:hover {
    transition: 0.3s;
    z-index: 5;
    transform: rotate(-10deg);
}
.bsky:hover {
    transition: 0.3s;
    z-index: 5;
    transform: rotate(10deg);
}
